@(tag: String)

@main(tag) {

    <!-- todo: make pretty -->

    <script type='text/javascript' src='@routes.Assets.at("javascripts/tag.min.js")'></script>

    <!-- Display Add Question Box -->
    <form id="submitForm" action="@routes.Application.createQuestion(tag)" method="post">
        <input id="questionInput" name="question">
        <input type="submit" value="Send!">
    </form>

    <!-- Display Questions -->
    <div id="fireaway"></div>
    <script type='text/javascript' src='@routes.Assets.at("javascripts/embed.js")'></script>
    
}